{% extends 'books/base.html' %} {% block content %} 
<h1 class="jumbotron text-center">Kirjastot</h1>
<hr>
    <div class="container">
        <div class="row">
            {% for library in libraries%}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">{{ library.name }}</h5>
                            <p class="card-text">
                            {{ library.description|truncatewords:20|linebreaks }}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                    
                                    <a href="{% url 'library-detail' library.id %}">Katso</a>
                                    </button>
                                    
                                </div>
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %} 
        </div>
    </div>
{%endblock content%}
