{% extends 'books/base.html' %} {% block content %}
<section class="jumbotron text-center">
  <h1>Lainassa olevat kirjat</h1>
  <hr>
</section>
<div class="container bg-dark cart">
    <form method="POST">
        {% csrf_token %}
        {% if books %}
            {% for book in books %}
                <li class="list-group-item bg-white cart-item"> {{ book.library_book }} 
                    <p class="{% if book.is_expired %}alert alert-danger {% else %}alert alert-primary{% endif %}">
                    Palautuspäivä: {{ book.expire_date }}</p>
                    <button type="submit" class="btn btn-sm btn-primary" value="{{ book.id }}" name="delete">Palauta</button>
                </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item bg-white cart-item"> 
                <h2 class="cart-text">Sinulla ei ole lainattuja kirjoja</h2>
            </li>
            <hr>
        {% endif %}
    </form>
</div>

{% endblock %}