{% extends 'books/base.html' %} {% block content %}
<h1></h1>

<h1 class="jumbotron text-center">Selaa kirjojamme</h1>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      {% for book in books %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img src="{{ book.thumbnail.url }}" />
          <div class="card-body">
            <h5 class="card-title">{{ book.book_title }}</h5>
            <p class="card-text">
              {{ book.description|truncatewords:20|linebreaks }}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               
                  <a class="btn btn-sm btn-outline-secondary" href="{% url 'book-detail' book.id %}">Katso</a>
                
              </div>
              <small class="text-muted">{{ book.author }}</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    {% include 'books/pagination.html' with page=page_obj %} 
    </div>
  </div>
</div>
{% endblock content%}
