{% extends 'books/base.html' %} {% block content %}

<section class="jumbotron text-center">
  <h1>{{ book.book_title }} {{ book.author }}</h1>
</section>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <img src="{{ book.thumbnail.url }}" alt="" />
  </div>
  <!-- Book information section -->
  <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <h4>Kieli:{{ book.language }}</h4>
    <h4>Julkaistu:{{ book.publis_year }}</h4>
    <h4>Tyyli:{{ book.genre }}</h4>
    <h4>Julkaistu:{{ book.publis_year }}</h4>
    <h4>Julkaija:{{ book.publisher }}</h4>
    <!-- Add to cart button if book is available -->
    <form action="" method="POST">
      {% csrf_token %}
      {% if total_amount %}
        <div class="form-group">
          <select class="form-control" name="select">
          {% for lib in library_books %}
            {% if lib.amount %}
              <option>{{ lib.library.name }}</option>        
            
            {% endif %}
          {% endfor %}
          </select>
        <button type="submit" class="btn btn-sm btn-primary">
          Add to cart
        </button>    
        </div>       
    </form>
    {% else %}
      <button type="button" class="btn btn-sm btn-outline-secondary" disabled>
        Add to cart
      </button>   
    {% endif %}
  </div>

  <!-- Library availability section -->
  <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <table class="table">
      <tr>
        <th>Sijainti</th>
        <th>Määrä</th>        
        
      </tr>

      {% for lib in library_books %}              
        {% if lib.amount %}
        <tr>
            <td>
              {{ lib.library.name }}      
            </td>                
            <td>
                {{ lib.amount }}  
            </td>                
        </tr>
        {% endif %}
      {% endfor %}      
    </table>
    <h2>Yhteensä saatavilla: {{ total_amount }}</h2>
  </div>    
</div>
<!-- Book description -->
<div class="jumbotron text-center">
  <h4>{{ book.description }}</h4>
</div> 



{% endblock %}
