{% extends 'books/base.html' %} {% block content %}
<section class="jumbotron text-center">
  <h1>{{ object.book_title }} {{ object.author }}</h1>
</section>
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div
    class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"
  >
    <img src="{{ object.thumbnail.url }}" alt="" />
  </div>
  <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <h4>Kieli:{{ object.language }}</h4>
    <h4>Julkaistu:{{ object.publis_year }}</h4>
    <h4>Tyyli:{{ object.genre }}</h4>
    <h4>Julkaistu:{{ object.publis_year }}</h4>
    <h4>Julkaija:{{ object.publisher }}</h4>
    <button type="button" class="btn btn-sm btn-outline-secondary">
      Add to cart
    </button>
  </div>
</div>
<div class="jumbotron text-center">
  <h4>{{ object.description }}</h4>
</div>

{% endblock %}
