<nav aria-label="Page navigation example">
  {% if page %}
  <ul class="pagination">
    <li class="page-item">
      {% if page.has_previous %}
      <a class="page-link" href="?page={{page.previous_page_number}}"
        >Edellinen</a
      >

      {% endif %}
    </li>

    <li class="page-item">
      {% if paginator.num_pages %}
        <p class="page-link bg-light"
          >Sivu{{page.number}}</p
        >
      {% endif %}
    </li>

    <li class="page-item">
      {% if page.has_next %}
      <a class="page-link" href="?page={{page.next_page_number}}">Seuraava</a>

      {% endif %}
    </li>
  </ul>
  {% endif %}
</nav>
